@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  transition: color 300ms; 
}

.nav-link::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 0%;
  bottom: -1px;
  background-color: #0AA0EF;
  left: 0;
  transition: 0.4s ease all .2s;
}
.active-link::after,
.nav-link:hover::after {
  width: 100%;
  transition: 0.2s ease all;
}

.actionItemDeets {
  background: #F7DCB9;
  margin-right: 20px;
  position: relative;
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  flex: 1;
}
.actionItemsDeetsTriangle {
  border-left: 20px solid #F7DCB9;
  content: "";
  right: -20px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.slideUp {
  animation: slide-up 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.slideInRight {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.slideOutRight {
  animation: 1s slide-out-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right{
  0%{
    transform:translateX(24rem);
    opacity:0;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slide-out-right{
  0%{
    transform: translateX(0);
    opacity:1;
  }
  100%{
    opacity:0;
    transform:translateX(24rem);
  }
}